#tag{
    text-align: center;
}
.part1, .part2, .part3, .part4, .part5{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow
}
.blue{
    background-color:blue;
}
.box{
    width: 100px;
    height: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: yellowgreen;
}